# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [17]:
#read the weather_cities.csv into a dataframe
weather_cities_df = pd.read_csv(os.path.join("Output-Data","weather_cities.csv"),delimiter=",")
weather_cities_df

,Latitude,Longitude,City,Country,Max Temp,Humidity,Wind Speed,Cloudiness,Date
0,-6.22,-57.75,jacareacanga,br,97.79,34.0,3.67,47.0,1.601222e+09
1,-10.45,161.92,kirakira,sb,79.39,82.0,12.64,100.0,1.601222e+09
2,-54.80,-68.30,ushuaia,ar,41.00,65.0,16.11,75.0,1.601222e+09
3,64.25,-15.21,hofn,is,48.20,93.0,13.87,90.0,1.601222e+09
4,-20.33,-40.29,vila velha,br,89.60,46.0,13.87,0.0,1.601221e+09
...,...,...,...,...,...,...,...,...,...
558,1.44,31.34,hoima,ug,69.57,91.0,4.12,38.0,1.601221e+09
559,1.74,98.78,sibolga,id,77.34,72.0,1.54,100.0,1.601221e+09
560,-12.49,130.98,palmerston,au,78.80,83.0,4.70,44.0,1.601221e+09
561,26.56,54.88,bandar-e lengeh,ir,91.40,66.0,9.17,0.0,1.601221e+09
562,-10.68,35.65,songea,tz,77.00,44.0,13.87,5.0,1.601221e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [18]:
#store locations by latitude and longitude
locations = weather_cities_df[["Latitude","Longitude"]].astype(float)

#drop na values (though these should have been handled in WeatherPy before saving to csv)
#do not rid of the index though - indexes will correspond between locations and humididty
weather_cities_df = weather_cities_df.dropna()

#convert humidity to float
humidity = weather_cities_df["Humidity"].astype(float)
maxHumidity = humidity.max()

In [19]:
#create a humidity heatmap layer
fig = gmaps.figure()

heatLayer_humidity = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity = 100, point_radius = 1)

fig.add_layer(heatLayer_humidity)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
vacationWeather_df = weather_cities_df.loc[(weather_cities_df["Max Temp"]>70)&(weather_cities_df["Max Temp"]<80)&(weather_cities_df["Cloudiness"]==0)&(weather_cities_df["Wind Speed"]<10)].reset_index(drop=True)
vacationWeather_df

,Latitude,Longitude,City,Country,Max Temp,Humidity,Wind Speed,Cloudiness,Date
0,25.23,77.60,kolaras,in,77.68,70.0,4.09,0.0,1.601222e+09
1,39.05,-27.98,lagoa,pt,71.19,86.0,7.38,0.0,1.601221e+09
2,-20.73,139.50,mount isa,au,73.40,18.0,9.17,0.0,1.601221e+09
3,-25.17,46.08,ambovombe,mg,72.28,70.0,9.13,0.0,1.601221e+09
4,12.45,125.29,anito,ph,79.47,86.0,4.83,0.0,1.601221e+09
5,39.60,-9.07,nazare,pt,71.01,100.0,8.99,0.0,1.601221e+09
6,27.98,-114.06,guerrero negro,mx,73.22,69.0,8.72,0.0,1.601221e+09
7,44.03,-64.72,liverpool,ca,75.99,71.0,1.99,0.0,1.601221e+09
8,-20.32,118.57,port hedland,au,71.60,78.0,9.17,0.0,1.601221e+09
9,-24.09,25.03,letlhakeng,bw,79.03,13.0,9.86,0.0,1.601221e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure